div.frame {
    display: flex;
    justify-content: space-around;

    div {
        padding: 4px;
        margin: 2px;

        &.halogen {
            border: 5px solid cyan;
        }
    
        &.concur {
            border: 5px solid purple;
        }
    }

}